*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}
.container{
  margin-top: 25%;
  background-color: hsl(211, 66%, 51%);
  padding: 10px;
}
.container input ,label{
  display: block;
  padding: 5px;
  margin: 2px;
}